<%- include('header'); -%>

<h1>New Vacancy</h1>

<form action="/vacancy" method="post">
  <div>
    Title: <input type="text" name="title" required>
  </div>
  
  <div>
    Description <input type="text" name="description">
  </div>

  <div>
    URL <input type="text" name="url">
  </div>

  <div>
    Status <input type="text" name="status">
  </div>

  <div>
    Comment <input type="text" name="comment">
  </div>

  <div>
    <input type="checkbox" name="isActive"> Is active?
  </div>
  
  <div>
    <input type="checkbox" name="isFavorite"> Is favorite?
  </div>
  
  <div>
    Work Location 
    <select name="workLocation">
      <option value="OFFICE">Office</option>
      <option value="REMOTE">Remote</option>
      <option value="HYBRID">Hybrid</option>
    </select>
  </div>
  
  <div>
    Test type 
    <select name="testType">
      <option value="NONE">None</option>
      <option value="QUESTIONNAIRE">Questionnaire</option>
      <option value="TASK">Task</option>
    </select>
  </div>
  
  <div>
    Company 
    <select name="company">
      <% companies.forEach(function(c){ %>
        <option value="<%= c.id %>"><%= c.title %></option>
      <% }); %>
    </select>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>

  <input type="hidden" value="<%= csrfToken %>">
</form>