<h1>Dashboard</h1>

<h2>Companies</h2>

<% if (companies.length > 0) { %>
  <ul>
    <% companies.forEach(function(c){ %>
      <li>
        <a href="/company/show/<%= c.id %>">
          <%= c.title %>
        </a> 
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <emp>No companies</emp>
<% } %>

<a href="/company/new">Create new company</a>

<h2>Vacancies</h2>

<% if (vacancies.length > 0) { %>
  <ul>
    <% vacancies.forEach(function(c){ %>
      <li><%= c  %></li>
    <% }); %>
  </ul>
<% } else { %>
  <emp>No vacancies</emp>
<% } %>

<h2>Links</h2>
<a href="/resume/list">List of resumes from S3</a>
